@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --dark: #464747;
    --text: #8e3899;
    --shadow: rgb(114 4 68);
    --white: #ffffff;
    --grey: #333333;
    --light: #605f5f;
    --box: #9b84db;
    --button: #4d3396;
    --black: #000000;
}
* {
    box-sizing: border-box;
}
body {
    background-color: var(--grey);
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}
#name {
    font-family: 'Alkatra', cursive;
    font-size: 50px;
    text-shadow: 3px 3px var(--shadow);
    text-decoration: solid;
    border-style: solid;
    border-color: var(--black);
    border-width: 7px;
    background-color: var(--box);
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    align-content: center;
    margin: auto;
    width: 50%;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    max-width: 100%;
}
#kolikot {
    display: flex;
    gap: 10px;
    margin-left: 5%;
}
#laatikko {
    background-color: var(--light);
    border-radius: 10px;
    margin-bottom: 5px;
    width: 300px;
    max-width: 100%;
}
.keskitys {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: auto;
    width: 50%;
}
.keskitys>div {
    background-color: var(--box);
    border-radius: 10px;
    height: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Alkatra', cursive;
    font-size: 20px;
    margin-top: 0px;
    border-style: solid;
    border-color: var(--black);
    border-width: 5px;
}
#palkinnot {
    width: 330px;
    height: 250px;
    max-width: 100%;
}
#laatikko>img {
    height: 35px;
    width: 35px;
}
#tilanne {
    width: 250px;
    height: 220px;
    max-width: 100%;
}
#peli2 {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    background-color: var(--box);
    width: 520px;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--black);
    border-width: 5px;
    display: flex;
    gap: 45px;
    margin: auto;
    margin-top: 10px;
    max-width: 100%;
}
#peli2>img {
    height: 90px;
    width: 90px;
}
#peli3 {
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 10px;
    background-color: var(--box);
    width: 520px;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--black);
    border-width: 5px;
    display: flex;
    gap: 45px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 5px;
    max-width: 100%;
}
#peli3>img {
    height: 90px;
    width: 90px;
}
#pelaa {
    background-color: var(--button);
    font-size: 40px;
    font-family: 'Alkatra', cursive;
    border-radius: 10px;
    height: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 60px;
    border-style: solid;
    border-color: var(--black);
    border-width: 5px;
    display: flex;
    gap: 45px;
    margin: auto;
}
.container {
    height: 100px;
    width: 100px;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}
input[type="checkbox"] {
    position: relative;
    margin-top: 100px;
    width: 100%;
    cursor: pointer;
}
.container img {
    width: 70%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
}
#voitot {
    text-align: center;
    width: 200px;
    max-width: 100%;
    background-color: var(--black);
    color: var(--text);
    border-radius: 30px;
    margin: auto;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media screen and (max-width: 1000px) {
    #name {
        font-size: 40px;
        text-shadow: 1px 1px var(--shadow);
        width: 410px;
    }
    #palkinnot {
        height: 250px;
    }
    #laatikko>img {
        width: 38px;
        height: 38px;
    }
    #peli2 {
        width: 420px;
        gap: 10px;
        padding-left: 20px;
    }
    #peli2>img {
        width: 80px;
        height: 80px;
    }
    #peli3 {
        width: 420px;
        gap: 10px;
        padding-left: 5px;
    }
    #peli3>img {
        width: 50px;
        height: 50px;
    }
    #kolikot {
        gap: 20px;
        margin: auto;
    }
    #kolikot>img {
        width: 40px;
        height: 40px;
    }
    .keskitys {
        width: 65%;
    }
}
@media screen and (max-width: 800px) {
    .keskitys {
        flex-direction: column-reverse;
        width: 40%;
    }
    #palkinnot {
        width: 280px;
        height: 200px;
    }
    #tilanne {
        width: 250px;
        padding-left: 30px;
        padding-top: 0px;
        height: 190px;
    }
    #kolikot {
        margin-left: -20px;
    }
    #laatikko {
        width: 250px;
    }
    #laatikko>img {
        width: 18px;
        height: 18px;
    }
}
@media screen and (max-width: 500px) {
    .keskitys {
        flex-direction: column-reverse;
        width: 60%;
    }
    #palkinnot {
        width: 250px;
        height: 210px;
    }
    #tilanne {
        width: 250px;
        padding-left: 30px;
        height: 190px;
        padding-top: 0px;
    }
    #kolikot {
        margin-left: 5px;
    }
    #laatikko {
        width: 220px;
    }
    #laatikko>img {
        width: 22px;
        height: 22px;
    }
    #peli2 {
        width: 320px;
        gap: 10px;
    }
    #peli2>img {
        width: 60px;
        height: 60px;
    }
    #peli3 {
        width: 320px;
        gap: 0px;
    }
    #peli3>img {
        width: 40px;
        height: 40px;
    }
}
@media screen and (max-width: 400px) {
    #kolikot>img {
        width: 30px;
        height: 30px;
    }
    #laatikko>img {
        width: 15px;
        height: 15px;
    }
    #tilanne {
        padding-left: 10px;
        font-size: 15px;
    }
    #peli2{
        padding-left: 5px;
    }
    #peli3{
        padding-left: 0px;
    }
}
@media screen and (min-width: 1500px) {
    .keskitys {
        width: 45%;
        gap: 100px;
    }
    #palkinnot {
        width: 400px;
    }
}
@media screen and (min-width: 1600px) {
    .keskitys {
        width: 35%;
        gap: 100px;
    }
    #palkinnot {
        width: 400px;
    }
}